# App settings
APP_NAME = "EventTrap Dev API"

# Database settings
DATABASE_HOST = "localhost"
DATABASE_PORT = 5432
DATABASE_NAME = ""
DATABASE_USERNAME = "postgres"
DATABASE_PASSWORD = ""
DATABASE_TIMEOUT = 5000
DATABASE_POOL_MIN_SIZE = 1
DATABASE_POOL_MAX_SIZE = 5
